td{
    text-align: center;

}
th{
    padding: 0px 10px;
}
table {
    border: 1px solid black;
}

#table_div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button{
    margin-top: 10px;
}