form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border: 1px solid black;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
}

#form_div{
    margin-top: 10%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#login_form > *{
    margin-top: 5px;
    max-width: 80%;

}

#wrong_label{
    color: red;
    display: none;
}